.searchContainer {
    display: flex;
    justify-content: center;
    margin: 6px 3px 0 3px;
}

.searchBox {
    width: 26rem;
    position: relative;
}

.searchInput {
    border-radius: 15px;
    width: 100%;
    border: none;
    height: 30px;
    padding: 5px 35px 5px 10px;
}

.searchButton {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
}

.searchButton i {
    font-size: 1.3rem;
    color: #212529;
    top: 5px;
}