.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10vh;
}

.spinner i {
  font-size: 4rem;
}

.spinning {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
